@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.blue {
    background-color: aliceblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

body {
    background-image:url("https://media.tenor.com/LImqRLT1ZDMAAAAM/spooky-volcano.gif");
    background-size: fit;
background-repeat: repeat;

}

.container{
    display:flex;
    flex-wrap: wrap;

    justify-content:space-around;
    
}
.plant {
    background-color: blanchedalmond;
    color:rgb(226, 43, 43);
    font-family:fantasy;
    font-weight:bold;
    border-bottom: 5px solid red;
    border-radius: 20px;
       
    margin : 20px;
    padding :20px;
}
.type {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blue;
    border-right: 5px solid red;
}
.table{
    background-color:yellow ;
    border: 5px solid red;
}
table  {
border-style: groove red;
border-width: 2px;

border-collapse: collapse;
border-radius: 20px;


}
th, td {
    padding: 15px;
    text-align: left;
}
.counts {
    color: purple;
    font-weight: bold;
    
}
th {
    background-color: lightblue;
    color: black;
    font-weight: bold;
    border: 5px solid red;
    border-right:5px solid red ;
}
.header {
    
    color: rgb(250, 250, 250);
    font-weight: bold;
    text-shadow: 5px, 2px, 2px black;
    
    text-align: center;
}